<!doctype html>
<html>
<head>
	<title>LBCSJ</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	
	<!--bootstrap CSS CDN for carousel-->
	<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
	
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<div class="header">
		<img src="/images/logo_lbc.png" alt="LBCSJ Logo" />
		<span style="overflow:auto">
			<a href="https://www.facebook.com/lighthousebiblechurchsanjose/" target="_blank">
			<img src="/images/fb_icon.png" id="fb_logo" />
			</a>
		</span>
	</div>
	<div class="navbar">
		<a href="/"><span>Home</span></a>
		<a href="google.com"><span>Sermons</span></a>
		<a href="google.com"><span>Media</span></a>
		<a href="google.com"><span>About Us</span></a>
	</div>
	
	{{{body}}}
</body>
</html>