<div class="body">
	<h1>Photo Canvas</h1>
	<p>Here is a collection of photos of some of our church events! Feel free to click on them to enlarge them!</p>
</div>

<div id="modal_div">
	<img id="canvas_img_0" class="canvas_img" src="/images/canvas_images/IMG_2829.jpg" width="300" height="200">
	<img id="canvas_img_1" class="canvas_img" src="/images/canvas_images/IMG_2833.jpg" width="300" height="200">
	<img id="canvas_img_2" class="canvas_img" src="/images/canvas_images/IMG_2835.jpg" width="300" height="200">
	<img id="canvas_img_3" class="canvas_img" src="/images/canvas_images/IMG_2841.jpg" width="300" height="200">
	<img id="canvas_img_4" class="canvas_img" src="/images/canvas_images/IMG_2843.jpg" width="300" height="200">
	<img id="canvas_img_5" class="canvas_img" src="/images/canvas_images/IMG_2849.jpg" width="300" height="200">
	<img id="canvas_img_6" class="canvas_img" src="/images/canvas_images/IMG_2852.jpg" width="300" height="200">
	<img id="canvas_img_7" class="canvas_img" src="/images/canvas_images/IMG_2853.jpg" width="300" height="200">
	<img id="canvas_img_8" class="canvas_img" src="/images/canvas_images/IMG_2855.jpg" width="300" height="200">
	<img id="canvas_img_9" class="canvas_img" src="/images/canvas_images/IMG_2856.jpg" width="300" height="200">
	<img id="canvas_img_10" class="canvas_img" src="/images/canvas_images/IMG_2858.jpg" width="300" height="200">
	<img id="canvas_img_11" class="canvas_img" src="/images/canvas_images/IMG_2859.jpg" width="300" height="200">
	<img id="canvas_img_12" class="canvas_img" src="/images/canvas_images/IMG_2865.jpg" width="300" height="200">
	<img id="canvas_img_13" class="canvas_img" src="/images/canvas_images/IMG_2866.jpg" width="300" height="200">
	<img id="canvas_img_14" class="canvas_img" src="/images/canvas_images/IMG_2868.jpg" width="300" height="200">
	<img id="canvas_img_15" class="canvas_img" src="/images/canvas_images/IMG_2872.jpg" width="300" height="200">
	<img id="canvas_img_16" class="canvas_img" src="/images/canvas_images/IMG_2881.jpg" width="300" height="200">
	<img id="canvas_img_17" class="canvas_img" src="/images/canvas_images/IMG_2887.jpg" width="300" height="200">
	<img id="canvas_img_18" class="canvas_img" src="/images/canvas_images/IMG_2888.jpg" width="300" height="200">
</div>

<div id="modals">
	<!--JS will add HTML modal and onclicks here for each static photo accordingly -->
</div>

<script src="/js/modal.js"></script>