<div class="body">
	<h1>Sermons</h1>
	<p>Please download a copy of the following and use it each week as you take your sermon notes!</p>
		
		<form method="get" action="/files/sermon_reflection_sheet.pdf">
		<button type="submit">Sermon Reflections Worksheet</button></form>
	
<div id="sermon_grouper">
	<div class="sermon_box">
		<h2>The basis of our Unity</h2>
		<p>John 17:20-25 (Part of the General series)</p>
		<p>Preached by Patrick Cho on 11/12/17 (Sunday Morning)</p>
		<audio controls>
			<source src="/sermons/2017-11-12.mp3" type="audio/mpeg">
		</audio>
		<h3>Companion Sermon</h3>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/JPi9z1ZtheU?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
	
	<div class="sermon_box">
		<h2>Heaven's Throne Room'</h2>
		<p>Revelation 5:1-10 (Part of the General series)</p>
		<p>Preached by John Street on 10/29/17 (Sunday Morning)</p>
		<audio controls>
			<source src="/sermons/2017-10-29.mp3" type="audio/mpeg">
		</audio>
		<h3>Companion Sermon</h3>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/EpJhgK1yT5M?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
	
	<div class="sermon_box">
		<h2>The evidence and foundation of Fellowship</h2>
		<p>1 John 1:8-2:2 (Part of the General series)</p>
		<p>Preached by Garrett Glende on 08/20/17 (Sunday Morning)</p>
		<audio controls>
			<source src="/sermons/2017-08-20.mp3" type="audio/mpeg">
		</audio>	
		<h3>Companion Sermon</h3>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/v6lYdB1WGzQ?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
</div>